<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%r%ex{full}</pattern>
        </encoder>
    </appender>

    <timestamp key="timestamp" datePattern="yyyy-MM-dd'T'HH:mm:ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test_${timestamp}.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%r%ex{full}</pattern>
        </encoder>
    </appender>

    <logger name="io.gatling.http.request" level="DEBUG" />
    <logger name="io.gatling.http.engine.response" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
