<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PowerAuth & FIDO2 Demo | Wultra</title>

    <link rel="stylesheet" th:href="@{/resources/css/wultra-theme.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/wultra-login.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/images/favicon.png}"/>

    <!-- API Path Context of the spring controller -->
    <script>
        const SERVLET_CONTEXT_PATH = "[[${servletContextPath}]]";
        const QUERY_PARAMS = "";
    </script>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/webauthn.js}"></script>
    <script th:src="@{/resources/js/payment.js}"></script>
</head>
<body>

<img th:src="@{/resources/images/logo_white.svg}" class="header-logo">

<div class="content-wrapper">
    <h5 class="header">DEMO</h5>
    <h2 class="headline">PowerAuth & FIDO2</h2>

    <div class="flex-grid">
        <div class="col1">
            <div>
                <p class="body-copy">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus efficitur orci. Quisque
                    pharetra ipsum ante. Aliquam ante nisi, ultricies vel faucibus ut, varius at tellus.
                </p>
                <p class="body-copy">
                    Sed ipsum quam, lobortis non nisl eget, sodales ullamcorper lacus. Sed varius augue auctor, dictum
                    mauris et, aliquet odio. In tristique dui blandit lectus scelerisque, auctor mattis felis efficitur.
                    Quisque nec ornare metus, at rutrum massa. Mauris elementum erat non mollis venenatis.
                </p>
                <p class="body-copy">
                    Donec ultrices nisl eu tellus finibus pellentesque. Nam molestie neque ut ligula ultrices, vel
                    facilisis lorem rhoncus. Praesent sodales dolor vitae odio vestibulum tempor. In blandit rhoncus dui
                    sit amet tempor. Maecenas dapibus ante vel velit lobortis, at volutpat turpis venenatis.
                </p>
            </div>
        </div>

        <div class="col2">
            <div class="form-wrapper" th:insert="~{forms/paymentForm.html}">
            </div>
        </div>
    </div>
</div>

</body>
</html>